.ReorderableList
{
    background-color:#282828;
}

.ReorderableList > #ItemsContainer
{
    background-color:#383838;
    padding-top: 2px;
    padding-bottom: 4px;
}

.ReorderableList > * > *
{
    flex-direction:row;
    align-items:center;
}

.ReorderableList > * > *.selected
{
    background-color:#505050;
}
